atomicwrites==1.4.0
attrs==21.2.0
caugetch==0.0.1
click==8.0.1
clipboard==0.0.4
colorama==0.4.4
getpass4==0.0.8
importlib-metadata==4.6.1
iniconfig==1.1.1
joblib==1.0.1
nltk==3.6.2
numpy==1.21.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pyperclip==1.8.2
pytest==6.2.4
random2==1.0.1
regex==2021.7.6
toml==0.10.2
tqdm==4.61.2
typing-extensions==3.10.0.0
zipp==3.5.0
